

body {
    background-color: #1d2026;
}

#header_box {
    min-height: 75vh;
    width: 100%;
    color: #fff;
    position: relative;
    margin-top: 4%;
}

#header_box h1 {
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8rem;
}

.CPP_box {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 45vh;
    margin: 0%;
    width: 100%;
    position: relative;
    margin-top: 0;
}

.image_cpp {
    position: absolut;
    margin: 10% 0 0 10%;
    top: -20px;
    left: 22%;
    width: 43%;
}
.JS_box {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 45vh;
    color: #fff;
    margin: 0%;
    width: 100%;
    position: relative;
    margin-top: 0;
}

.image_JS {
    position: absolut;
    margin: 10% 0 0 10%;
    top: -20px;
    left: 22%;
    width: 43%;
}